@media only screen and (max-width: 768px) {
  /* For Tablet or iPad: */
  .main-wrapper {
    width: 100%;
  }
  .header-top-wrapper {
    padding: 20px 16px 5px 16px;
  }
  .header-top-wrapper-logo-search,
  .header-top-logo {
    float: none;
    width: 100%;
  }

  .header-top-logo img {
    display: block;
    margin: auto;
  }
  .header-top-search-wrapper {
    float: none;
    margin: auto;
  }
  .header-top-search-form {
    float: left;
    width: 81%;
    margin: auto;
  }
  .header-top-search-button {
    float: right;
    margin: auto;
    width: 16%;
  }
  .header-top-wrapper-user-info {
    width: 100%;
  }
  .header-top-wrapper-user-top {
    width: auto;
    float: left;
  }
  .header-top-wrapper-user-nav {
    width: auto;
    float: right;
  }
  .header-top-wrapper-user-nav li a {
    font-size: 13px;
  }
  .header-bottom-menu-wrapper {
    margin: auto;
    width: 65%;
  }
  .header-bottom-side-wrapper {
    width: 35%;
  }
  .header-bottom-side-wrapper ul li a.friend {
    font-size: 0px;
  }
  .header-bottom-side-wrapper ul li a.invites {
    font-size: 0px;
  }
  .header-bottom-side-wrapper ul {
    padding-right: 16px;
    float: right;
  }
  /* .header-bottom-side-wrapper li:first-child {
    float: left;
  }
  .header-bottom-side-wrapper li:last-child {
    float: right;
  }
 */

  /* .body-most-left-wrapper {
    display: none;
  }
  .body-right-main-wrapper {
    display: none;
  } */

  .body-left-main-wrapper {
    width: 100%;
  }
  .body-middle-wrapper {
    width: 100%;
    /* box-sizing: border-box; */
  }

  .body-main-entries-top-wrapper {
    height: 77px;
  }

  .body-main-tabs {
    margin: auto;
    width: 100%;
  }

  .body-main-tabs ul li {
    width: 23%;
    background-position: center;
    margin-top: 10px;
  }

  .body-main-header-wrapper {
    padding: 0px 16px;
  }

  .body-main-stories {
    padding: 15px 16px;
  }
  .body-main-stories-image-wrapper {
    width: 70px;
  }

  /* Implementing accordion for side menus */
  .body-most-left-wrapper {
    width: 100%;
    position: absolute;
    top: 83%;
  }
  .body-right-main-wrapper {
    width: 100%;
  }
  .body-recent-searches-title::after {
    content: "\002B";
    float: right;
    padding-right: 16px;
  }
  .body-recent-searches-list {
    display: none;
  }
  .body-recent-searches-list ul {
    width: 100%;
  }

  /* End of accordion for side menus*/
}
